@page "/Market/Crypto/{slug}"
@inject HttpClient _httpClient
@inject NavigationManager NavManager

<PageTitle>1</PageTitle>

<div class="container-fluid">
    <div class="row text-wrap">
        <TypeMenu IsActive="@IsActivePage" />
        @if (_API_TOKEN == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="coin-data mt-4 container">
                <div class="row">
                    <div class="col-9">
                        <div class="coin-data-title d-flex align-items-center">
                            <div class="coin-data-title-img">
                                <img src="/img/crypto/@symbol" height="55" width="55" title="@_API_TOKEN.Name" alt="@_API_TOKEN.Name" class="align-middle" />
                            </div>
                            <div class="coin-data-title d-block mx-2">
                                <div class="coin-data-title-title">
                                    <h1>@_API_TOKEN.Name</h1>
                                </div>
                                <div class="coin-data-title-ticker">
                                    @_API_TOKEN.Symbol
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex float-end">
                            <div class="favorite">
                                <button type="button" class="btn btn-light border mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                                    @if (!favorited)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                        </svg>
                                    }
                                    else {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill star" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                    }
                                </button>
                            </div>
                            <div class="add-to-portfolio">
                                <div class="btn btn-light border">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>
                                    Add to portfolio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3">
                        <div class="border supply-data">
                            <div class="market-cap-data">
                                <div class="d-flex">
                                    <div class="market-cap w-50">
                                        <span class="market-cap-data-title">Market cap</span>
                                        <div>
                                            $1.68 T
                                        </div>
                                        <span class="market-cap-data-rank">
                                            Rank #1
                                        </span>
                                    </div>
                                    <div class="fdv-cap w-50">
                                        <span class="market-cap-data-title">FDV</span>
                                        <div>
                                            $1.68 T
                                        </div>
                                        <span class="market-cap-data-rank">
                                            Rank #1
                                        </span>
                                    </div>
                                </div>
                                <div class="d-block mt-2">
                                    <p class="m-0">Circ. supply</p>
                                    <div class="progress w-100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="94.43" aria-valuemin="0" aria-valuemax="100">
                                            94.43%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


@code {
    private API_TOKEN? _API_TOKEN;
    [Parameter]
    public string slug { get; set; } = default!;
    public string IsActivePage { get; set; } = default!;
    private string symbol = default!;
    private bool favorited = default!;

    protected override async Task OnInitializedAsync()
    {
        IsActivePage = NavManager.ToBaseRelativePath(NavManager.Uri);
        Console.WriteLine(IsActivePage);
        _API_TOKEN = await _httpClient.GetFromJsonAsync<API_TOKEN>("https://localhost:5071/Token/GetToken?slug=" + slug);
        symbol = _API_TOKEN.Symbol + ".svg";
        favorited = true;
    }
}
